{% if user %}
<p>User Id is {{user.id}}.</p>
<p>User name is {{user.name}}.</p>
<div>
    User has rated following events:
    <ul>
        {% for event in rated_events_e %}
        <li><a herf="url 'event_detail' event.id">{{event.name}}</a></li>
        {% endfor %}
    </ul>
    Events recommended by content based:
    <ul>
        {% for event in content_based_recommended_events %}
        <li><a herf="url 'event_detail' event.id">{{event.name}}</a></li>
        {% endfor %}
    </ul>
    Events recommended by collaborative filtering:
    <ul>
        {% for event in collaborative_based_recommended_events %}
        <li><a herf="url 'event_detail' event.id">{{event.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>User doesn't exist.</p>
{% endif %}